{% extends "base.html" %}

{% block main %}

    {#    <p class="bg-primary">...</p>#}
    <br>    <br>    <br>

    <div class="bg-success text-center">
        <a class="btn btn-info btn-lg " style="margin: 20px" href="/mykline1">股票行情</a>
    </div>
    <div class="bg-warning text-center">
        <a class="btn btn-info btn-lg " style="margin: 20px" href="/strategy">购买策略</a>
    </div>

    <div class="bg-info text-center">
       <a class="btn btn-info btn-lg " style="margin: 20px" href="/waitting">期货回测</a>
    </div>
    <div class="bg-danger text-center">
        <a class="btn btn-info btn-lg " style="margin: 20px" href="/waitting">机器学习</a>
    </div>



{% endblock %}